@charset "utf-8";

/* Transition
-------------------------- */
$--all-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
$--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
$--fade-linear-transition: opacity 200ms linear;
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
  opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
$--border-transition-base: border-color 0.2s
  cubic-bezier(0.645, 0.045, 0.355, 1);
$--color-transition-base: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

/* Color
-------------------------- */
/// color|1|Brand Color|0
$--color-primary: $base-color-blue;
/// color|1|Background Color|4
$--color-white: var(--grey-13);
/// color|1|Background Color|4
$--color-black: #000;
$--color-primary-light-1: mix(var(--grey-13), var(--blue-6), 10%);

/* 53a8ff */
$--color-primary-light-2: mix(var(--grey-13), var(--blue-6), 20%);

/* 66b1ff */
$--color-primary-light-3: mix(var(--grey-13), var(--blue-6), 30%);

/* 79bbff */
$--color-primary-light-4: mix(var(--grey-13), var(--blue-6), 40%);

/* 8cc5ff */
$--color-primary-light-5: mix(var(--grey-13), var(--blue-6), 50%);

/* a0cfff */
$--color-primary-light-6: mix(var(--grey-13), var(--blue-6), 60%);

/* b3d8ff */
$--color-primary-light-7: mix(var(--grey-13), var(--blue-6), 70%);

/* c6e2ff */
$--color-primary-light-8: mix(var(--grey-13), var(--blue-6), 80%);

/* d9ecff */
$--color-primary-light-9: mix(var(--grey-13), var(--blue-6), 90%);

/* ecf5ff */
/// color|1|Functional Color|1
$--color-success: $base-color-green;
/// color|1|Functional Color|1
$--color-warning: $base-color-yellow;
/// color|1|Functional Color|1
$--color-danger: $base-color-red;
/// color|1|Functional Color|1
$--color-info: #909399;

$--color-success-light: mix(var(--grey-13), var(--green-6), 80%);
$--color-warning-light: mix(var(--grey-13), var(--orange-6), 80%);
$--color-danger-light: mix(var(--grey-13), var(--red-6), 80%);
$--color-info-light: mix(var(--grey-13), var(--grey-13), 80%);

$--color-success-lighter: mix(var(--grey-13), var(--green-6), 90%);
$--color-warning-lighter: mix(var(--grey-13), var(--orange-6), 90%);
$--color-danger-lighter: mix(var(--grey-13), var(--red-6), 90%);
$--color-info-lighter: mix(var(--grey-13), var(--grey-13), 90%);
/// color|1|Font Color|2
$--color-text-primary: #303133;
/// color|1|Font Color|2
$--color-text-regular: #606266;
/// color|1|Font Color|2
$--color-text-secondary: #909399;
/// color|1|Font Color|2
$--color-text-placeholder: var(--grey-7);
/// color|1|Border Color|3
$--border-color-base: #dcdfe6;
/// color|1|Border Color|3
$--border-color-light: #e4e7ed;
/// color|1|Border Color|3
$--border-color-lighter: #ebeef5;
/// color|1|Border Color|3
$--border-color-extra-light: #f2f6fc;

// Background
/// color|1|Background Color|4
$--background-color-base: #f5f7fa;

/* Link
-------------------------- */
$--link-color: undefined;
$--link-hover-color: var(--blue-6);

/* Border
-------------------------- */
$--border-width-base: 1px;
$--border-style-base: solid;
$--border-color-hover: var(--grey-10);
$--border-base: undefined undefined var(--grey-7);
/// borderRadius|1|Radius|0
$--border-radius-base: $base-border-radius;
/// borderRadius|1|Radius|0
$--border-radius-small: $base-border-radius;
/// borderRadius|1|Radius|0
$--border-radius-circle: 100%;
/// borderRadius|1|Radius|0
$--border-radius-zero: 0;

// Box-shadow
/// boxShadow|1|Shadow|1
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
// boxShadow|1|Shadow|1
$--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12);
/// boxShadow|1|Shadow|1
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

/* Fill
-------------------------- */
$--fill-base: var(--grey-13);

/* Typography
-------------------------- */
$--font-path: "~element-ui/lib/theme-chalk/fonts";
$--font-display: "auto";
/// fontSize|1|Font Size|0
$--font-size-extra-large: 20px;
/// fontSize|1|Font Size|0
$--font-size-large: 18px;
/// fontSize|1|Font Size|0
$--font-size-medium: 16px;
/// fontSize|1|Font Size|0
$--font-size-base: 14px;
/// fontSize|1|Font Size|0
$--font-size-small: 13px;
/// fontSize|1|Font Size|0
$--font-size-extra-small: 12px;
/// fontWeight|1|Font Weight|1
$--font-weight-primary: 500;
/// fontWeight|1|Font Weight|1
$--font-weight-secondary: 100;
/// fontLineHeight|1|Line Height|2
$--font-line-height-primary: 24px;
/// fontLineHeight|1|Line Height|2
$--font-line-height-secondary: 16px;
$--font-color-disabled-base: #bbb;

/* Size
-------------------------- */
$--size-base: 14px;

/* z-index
-------------------------- */
$--index-normal: 1;
$--index-top: 1000;
$--index-popper: 2000;

/* Disable base
-------------------------- */
$--disabled-fill-base: var(--grey-5);
$--disabled-color-base: var(--grey-10);
$--disabled-border-base: rgba(75, 102, 133, 0.5);

/* Icon
-------------------------- */
$--icon-color: var(--grey-11);
$--icon-color-base: var(--grey-13);

/* Checkbox
-------------------------- */
/// fontSize||Font|1
$--checkbox-font-size: 14px;
/// fontWeight||Font|1
$--checkbox-font-weight: undefined;
/// color||Color|0
$--checkbox-font-color: var(--grey-13);
$--checkbox-input-height: 14px;
$--checkbox-input-width: 14px;
/// borderRadius||Border|2
$--checkbox-border-radius: undefined;
/// color||Color|0
$--checkbox-background-color: var(--grey-13);
$--checkbox-input-border: undefined;

/// color||Color|0
$--checkbox-disabled-border-color: var(--grey-7);
$--checkbox-disabled-input-fill: #edf2fc;
$--checkbox-disabled-icon-color: var(--grey-10);

$--checkbox-disabled-checked-input-fill: rgba(75, 102, 133, 0.4);
$--checkbox-disabled-checked-input-border-color: var(--grey-7);
$--checkbox-disabled-checked-icon-color: var(--grey-10);

/// color||Color|0
$--checkbox-checked-font-color: var(--blue-6);
$--checkbox-checked-input-border-color: var(--blue-6);
/// color||Color|0
$--checkbox-checked-background-color: var(--blue-6);
$--checkbox-checked-icon-color: var(--grey-4);

$--checkbox-input-border-color-hover: var(--blue-6);
/// height||Other|4
$--checkbox-bordered-height: 40px;
/// padding||Spacing|3
$--checkbox-bordered-padding: 9px 20px 9px 10px;
/// padding||Spacing|3
$--checkbox-bordered-medium-padding: 7px 20px 7px 10px;
/// padding||Spacing|3
$--checkbox-bordered-small-padding: 5px 15px 5px 10px;
/// padding||Spacing|3
$--checkbox-bordered-mini-padding: 3px 15px 3px 10px;
$--checkbox-bordered-medium-input-height: 14px;
$--checkbox-bordered-medium-input-width: 14px;
/// height||Other|4
$--checkbox-bordered-medium-height: 36px;
$--checkbox-bordered-small-input-height: 12px;
$--checkbox-bordered-small-input-width: 12px;
/// height||Other|4
$--checkbox-bordered-small-height: 32px;
$--checkbox-bordered-mini-input-height: 12px;
$--checkbox-bordered-mini-input-width: 12px;
/// height||Other|4
$--checkbox-bordered-mini-height: 28px;

/// color||Color|0
$--checkbox-button-checked-background-color: var(--blue-6);
/// color||Color|0
$--checkbox-button-checked-font-color: var(--grey-13);
/// color||Color|0
$--checkbox-button-checked-border-color: var(--blue-6);

/* Radio
-------------------------- */
/// fontSize||Font|1
$--radio-font-size: undefined;
/// fontWeight||Font|1
$--radio-font-weight: undefined;
/// color||Color|0
$--radio-font-color: var(--grey-13);
$--radio-input-height: 14px;
$--radio-input-width: 14px;
/// borderRadius||Border|2
$--radio-input-border-radius: undefined;
/// color||Color|0
$--radio-input-background-color: var(--grey-13);
$--radio-input-border: undefined;
/// color||Color|0
$--radio-input-border-color: var(--grey-7);
/// color||Color|0
$--radio-icon-color: var(--grey-13);

$--radio-disabled-input-border-color: var(--grey-5);
$--radio-disabled-input-fill: var(--grey-4);
$--radio-disabled-icon-color: var(--grey-4);

$--radio-disabled-checked-input-border-color: var(--grey-5);
$--radio-disabled-checked-input-fill: var(--grey-4);
$--radio-disabled-checked-icon-color: var(--grey-10);

/// color||Color|0
$--radio-checked-font-color: var(--blue-6);
/// color||Color|0
$--radio-checked-input-border-color: var(--blue-6);
/// color||Color|0
$--radio-checked-input-background-color: var(--grey-13);
/// color||Color|0
$--radio-checked-icon-color: var(--blue-6);

$--radio-input-border-color-hover: var(--blue-6);

$--radio-bordered-height: 40px;
$--radio-bordered-padding: 12px 20px 0 10px;
$--radio-bordered-medium-padding: 10px 20px 0 10px;
$--radio-bordered-small-padding: 8px 15px 0 10px;
$--radio-bordered-mini-padding: 6px 15px 0 10px;
$--radio-bordered-medium-input-height: 14px;
$--radio-bordered-medium-input-width: 14px;
$--radio-bordered-medium-height: 36px;
$--radio-bordered-small-input-height: 12px;
$--radio-bordered-small-input-width: 12px;
$--radio-bordered-small-height: 32px;
$--radio-bordered-mini-input-height: 12px;
$--radio-bordered-mini-input-width: 12px;
$--radio-bordered-mini-height: 28px;

/// fontSize||Font|1
$--radio-button-font-size: undefined;
/// color||Color|0
$--radio-button-checked-background-color: var(--blue-6);
/// color||Color|0
$--radio-button-checked-font-color: var(--grey-13);
/// color||Color|0
$--radio-button-checked-border-color: var(--blue-6);
$--radio-button-disabled-checked-fill: rgba(75, 102, 133, 0.4);

/* Select
-------------------------- */
$--select-border-color-hover: var(--blue-6);
$--select-disabled-border: var(--grey-5);
/// fontSize||Font|1
$--select-font-size: undefined;
$--select-close-hover-color: var(--grey-11);

$--select-input-color: var(--grey-10);
$--select-multiple-input-color: var(--grey-11);
/// color||Color|0
$--select-input-focus-border-color: var(--blue-6);
/// fontSize||Font|1
$--select-input-font-size: 14px;

$--select-option-color: var(--grey-13);
$--select-option-disabled-color: var(--grey-10);
$--select-option-disabled-background: var(--grey-13);
/// height||Other|4
$--select-option-height: 34px;
$--select-option-hover-background: var(--grey-5);
/// color||Color|0
$--select-option-selected-font-color: var(--blue-6);
$--select-option-selected-hover: var(--grey-5);

$--select-group-color: var(--grey-13);
$--select-group-height: 30px;
$--select-group-font-size: 12px;

$--select-dropdown-background: var(--grey-13);
$--select-dropdown-shadow: undefined;
$--select-dropdown-empty-color: #999;
/// height||Other|4
$--select-dropdown-max-height: 274px;
$--select-dropdown-padding: 6px 0;
$--select-dropdown-empty-padding: 10px 0;
$--select-dropdown-border: solid 1px rgba(75, 102, 133, 0.5);

/* Alert
-------------------------- */
$--alert-padding: 8px 16px;
/// borderRadius||Border|2
$--alert-border-radius: undefined;
/// fontSize||Font|1
$--alert-title-font-size: 13px;
/// fontSize||Font|1
$--alert-description-font-size: 12px;
/// fontSize||Font|1
$--alert-close-font-size: 12px;
/// fontSize||Font|1
$--alert-close-customed-font-size: 13px;

$--alert-success-color: undefined;
$--alert-info-color: undefined;
$--alert-warning-color: undefined;
$--alert-danger-color: undefined;

/// height||Other|4
$--alert-icon-size: 16px;
/// height||Other|4
$--alert-icon-large-size: 28px;

/* MessageBox
-------------------------- */
/// color||Color|0
$--messagebox-title-color: var(--grey-12);
$--msgbox-width: 420px;
$--msgbox-border-radius: undefined;
/// fontSize||Font|1
$--messagebox-font-size: 16px;
/// fontSize||Font|1
$--messagebox-content-font-size: undefined;
/// color||Color|0
$--messagebox-content-color: var(--grey-13);
/// fontSize||Font|1
$--messagebox-error-font-size: 12px;
$--msgbox-padding-primary: 15px;
/// color||Color|0
$--messagebox-success-color: var(--green-6);
/// color||Color|0
$--messagebox-info-color: var(--grey-13);
/// color||Color|0
$--messagebox-warning-color: var(--orange-6);
/// color||Color|0
$--messagebox-danger-color: var(--red-6);

/* Message
-------------------------- */
$--message-shadow: undefined;
$--message-min-width: 380px;
$--message-background-color: #edf2fc;
$--message-padding: 15px 15px 15px 20px;
/// color||Color|0
$--message-close-icon-color: var(--grey-10);
/// height||Other|4
$--message-close-size: 16px;
/// color||Color|0
$--message-close-hover-color: var(--grey-11);

/// color||Color|0
$--message-success-font-color: var(--green-6);
/// color||Color|0
$--message-info-font-color: var(--grey-13);
/// color||Color|0
$--message-warning-font-color: var(--orange-6);
/// color||Color|0
$--message-danger-font-color: var(--red-6);

/* Notification
-------------------------- */
$--notification-width: 330px;
/// padding||Spacing|3
$--notification-padding: 14px 26px 14px 13px;
$--notification-radius: 8px;
$--notification-shadow: undefined;
/// color||Color|0
$--notification-border-color: rgba(75, 102, 133, 0.5);
$--notification-icon-size: 24px;
$--notification-close-font-size: 16px;
$--notification-group-margin-left: 13px;
$--notification-group-margin-right: 8px;
/// fontSize||Font|1
$--notification-content-font-size: undefined;
/// color||Color|0
$--notification-content-color: var(--grey-13);
/// fontSize||Font|1
$--notification-title-font-size: 16px;
/// color||Color|0
$--notification-title-color: var(--grey-12);

/// color||Color|0
$--notification-close-color: var(--grey-11);
/// color||Color|0
$--notification-close-hover-color: var(--grey-13);

/// color||Color|0
$--notification-success-icon-color: var(--green-6);
/// color||Color|0
$--notification-info-icon-color: var(--grey-13);
/// color||Color|0
$--notification-warning-icon-color: var(--orange-6);
/// color||Color|0
$--notification-danger-icon-color: var(--red-6);

/* Input
-------------------------- */
$--input-font-size: undefined;
/// color||Color|0
$--input-font-color: var(--grey-13);
/// height||Other|4
$--input-width: 140px;
/// height||Other|4
$--input-height: 40px;
$--input-border: undefined;
$--input-border-color: var(--grey-7);
/// borderRadius||Border|2
$--input-border-radius: undefined;
$--input-border-color-hover: var(--blue-6);
/// color||Color|0
$--input-background-color: var(--grey-13);
$--input-fill-disabled: var(--grey-4);
$--input-color-disabled: undefined;
/// color||Color|0
$--input-icon-color: var(--grey-10);
/// color||Color|0
$--input-placeholder-color: var(--grey-10);
$--input-max-width: 314px;

$--input-hover-border: var(--blue-6);
$--input-clear-hover-color: var(--grey-11);

$--input-focus-border: var(--blue-6);
$--input-focus-fill: var(--grey-13);

$--input-disabled-fill: var(--grey-4);
$--input-disabled-border: var(--grey-5);
$--input-disabled-color: var(--grey-10);
$--input-disabled-placeholder-color: var(--grey-10);

/// fontSize||Font|1
$--input-medium-font-size: 14px;
/// height||Other|4
$--input-medium-height: 36px;
/// fontSize||Font|1
$--input-small-font-size: 13px;
/// height||Other|4
$--input-small-height: 32px;
/// fontSize||Font|1
$--input-mini-font-size: 12px;
/// height||Other|4
$--input-mini-height: 28px;

/* Cascader
-------------------------- */
/// color||Color|0
$--cascader-menu-font-color: var(--grey-13);
/// color||Color|0
$--cascader-menu-selected-font-color: var(--blue-6);
$--cascader-menu-fill: var(--grey-4);
$--cascader-menu-font-size: undefined;
$--cascader-menu-radius: undefined;
$--cascader-menu-border: solid 1px rgba(75, 102, 133, 0.5);
$--cascader-menu-shadow: undefined;
$--cascader-node-background-hover: var(--grey-5);
$--cascader-node-color-disabled: var(--grey-10);
$--cascader-color-empty: var(--grey-10);
$--cascader-tag-background: #f0f2f5;

/* Group
-------------------------- */
$--group-option-flex: 0 0 (1/5) * 100%;
$--group-option-offset-bottom: 12px;
$--group-option-fill-hover: rgba(var(--grey-4), 0.06);
$--group-title-color: var(--grey-4);
$--group-title-font-size: undefined;
$--group-title-width: 66px;

/* Tab
-------------------------- */
$--tab-font-size: undefined;
$--tab-border-line: 1px solid #e4e4e4;
$--tab-header-color-active: var(--grey-11);
$--tab-header-color-hover: var(--grey-13);
$--tab-header-color: var(--grey-13);
$--tab-header-fill-active: rgba(var(--grey-4), 0.06);
$--tab-header-fill-hover: rgba(var(--grey-4), 0.06);
$--tab-vertical-header-width: 90px;
$--tab-vertical-header-count-color: var(--grey-13);
$--tab-vertical-header-count-fill: var(--grey-11);

/* Button
-------------------------- */
/// fontSize||Font|1
$--button-font-size: undefined;
/// fontWeight||Font|1
$--button-font-weight: undefined;
/// borderRadius||Border|2
$--button-border-radius: undefined;
/// padding||Spacing|3
$--button-padding-vertical: 12px;
/// padding||Spacing|3
$--button-padding-horizontal: 20px;

/// fontSize||Font|1
$--button-medium-font-size: undefined;
/// borderRadius||Border|2
$--button-medium-border-radius: undefined;
/// padding||Spacing|3
$--button-medium-padding-vertical: 10px;
/// padding||Spacing|3
$--button-medium-padding-horizontal: 20px;

/// fontSize||Font|1
$--button-small-font-size: 12px;
$--button-small-border-radius: undefined;
/// padding||Spacing|3
$--button-small-padding-vertical: 9px;
/// padding||Spacing|3
$--button-small-padding-horizontal: 15px;
/// fontSize||Font|1
$--button-mini-font-size: 12px;
$--button-mini-border-radius: undefined;
/// padding||Spacing|3
$--button-mini-padding-vertical: 7px;
/// padding||Spacing|3
$--button-mini-padding-horizontal: 15px;

/// color||Color|0
$--button-default-font-color: var(--grey-13);
/// color||Color|0
$--button-default-background-color: var(--grey-13);
/// color||Color|0
$--button-default-border-color: var(--grey-7);

/// color||Color|0
$--button-disabled-font-color: var(--grey-10);
/// color||Color|0
$--button-disabled-background-color: var(--grey-13);
/// color||Color|0
$--button-disabled-border-color: rgba(75, 102, 133, 0.5);

/// color||Color|0
$--button-primary-border-color: var(--blue-6);
/// color||Color|0
$--button-primary-font-color: var(--grey-13);
/// color||Color|0
$--button-primary-background-color: var(--blue-6);
/// color||Color|0
$--button-success-border-color: var(--green-6);
/// color||Color|0
$--button-success-font-color: var(--grey-13);
/// color||Color|0
$--button-success-background-color: var(--green-6);
/// color||Color|0
$--button-warning-border-color: var(--orange-6);
/// color||Color|0
$--button-warning-font-color: var(--grey-13);
/// color||Color|0
$--button-warning-background-color: var(--orange-6);
/// color||Color|0
$--button-danger-border-color: var(--red-6);
/// color||Color|0
$--button-danger-font-color: var(--grey-13);
/// color||Color|0
$--button-danger-background-color: var(--red-6);
/// color||Color|0
$--button-info-border-color: var(--grey-13);
/// color||Color|0
$--button-info-font-color: var(--grey-13);
/// color||Color|0
$--button-info-background-color: var(--grey-13);

$--button-hover-tint-percent: 20%;
$--button-active-shade-percent: 10%;

/* cascader
-------------------------- */
$--cascader-height: 200px;

/* Switch
-------------------------- */
/// color||Color|0
$--switch-on-color: var(--blue-6);
/// color||Color|0
$--switch-off-color: var(--grey-7);
/// fontSize||Font|1
$--switch-font-size: undefined;
$--switch-core-border-radius: 10px;
// height||Other|4 TODO: width 代码写死的40px 所以下面这三个属性都没意义
$--switch-width: 40px;
// height||Other|4
$--switch-height: 20px;
// height||Other|4
$--switch-button-size: 16px;

/* Dialog
-------------------------- */
$--dialog-background-color: var(--grey-13);
$--dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
/// fontSize||Font|1
$--dialog-title-font-size: 16px;
/// fontSize||Font|1
$--dialog-content-font-size: 14px;
/// fontLineHeight||LineHeight|2
$--dialog-font-line-height: undefined;
/// padding||Spacing|3
$--dialog-padding-primary: 20px;

/* Table
-------------------------- */
/// color||Color|0
$--table-border-color: rgba(75, 102, 133, 0.5);
$--table-border: 1px solid var(--grey-4);
/// color||Color|0
$--table-font-color: var(--grey-13);
/// color||Color|0
$--table-header-font-color: var(--grey-11);
/// color||Color|0
$--table-row-hover-background-color: var(--grey-5);
$--table-current-row-background-color: undefined;
/// color||Color|0
$--table-header-background-color: var(--grey-13);
$--table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);

/* Pagination
-------------------------- */
/// fontSize||Font|1
$--pagination-font-size: 13px;
/// color||Color|0
$--pagination-background-color: var(--grey-13);
/// color||Color|0
$--pagination-font-color: var(--grey-12);
$--pagination-border-radius: undefined;
/// color||Color|0
$--pagination-button-color: var(--grey-12);
/// height||Other|4
$--pagination-button-width: 35.5px;
/// height||Other|4
$--pagination-button-height: 28px;
/// color||Color|0
$--pagination-button-disabled-color: var(--grey-10);
/// color||Color|0
$--pagination-button-disabled-background-color: var(--grey-13);
/// color||Color|0
$--pagination-hover-color: var(--blue-6);

/* Popup
-------------------------- */
/// color||Color|0
$--popup-modal-background-color: var(--grey-4);
/// opacity||Other|1
$--popup-modal-opacity: 0.5;

/* Popover
-------------------------- */
/// color||Color|0
$--popover-background-color: var(--grey-13);
/// fontSize||Font|1
$--popover-font-size: undefined;
/// color||Color|0
$--popover-border-color: rgba(75, 102, 133, 0.5);
$--popover-arrow-size: 6px;
/// padding||Spacing|3
$--popover-padding: 12px;
$--popover-padding-large: 18px 20px;
/// fontSize||Font|1
$--popover-title-font-size: 16px;
/// color||Color|0
$--popover-title-font-color: var(--grey-12);

/* Tooltip
-------------------------- */
/// color|1|Color|0
$--tooltip-fill: var(--grey-12);
/// color|1|Color|0
$--tooltip-color: var(--grey-13);
/// fontSize||Font|1
$--tooltip-font-size: 12px;
/// color||Color|0
$--tooltip-border-color: var(--grey-12);
$--tooltip-arrow-size: 6px;
/// padding||Spacing|3
$--tooltip-padding: 10px;

/* Tag
-------------------------- */
/// color||Color|0
$--tag-info-color: var(--grey-13);
/// color||Color|0
$--tag-primary-color: var(--blue-6);
/// color||Color|0
$--tag-success-color: var(--green-6);
/// color||Color|0
$--tag-warning-color: var(--orange-6);
/// color||Color|0
$--tag-danger-color: var(--red-6);
/// fontSize||Font|1
$--tag-font-size: 12px;
$--tag-border-radius: undefined;
$--tag-padding: 0 10px;

/* Tree
-------------------------- */
/// color||Color|0
$--tree-node-hover-background-color: var(--grey-5);
/// color||Color|0
$--tree-font-color: var(--grey-13);
/// color||Color|0
$--tree-expand-icon-color: var(--grey-10);

/* Dropdown
-------------------------- */
$--dropdown-menu-box-shadow: undefined;
$--dropdown-menuItem-hover-fill: undefined;
$--dropdown-menuItem-hover-color: undefined;

/* Badge
-------------------------- */
/// color||Color|0
$--badge-background-color: var(--red-6);
$--badge-radius: 10px;
/// fontSize||Font|1
$--badge-font-size: 12px;
/// padding||Spacing|3
$--badge-padding: 6px;
/// height||Other|4
$--badge-size: 18px;

/* Card
-------------------------- */
/// color||Color|0
$--card-border-color: rgba(75, 102, 133, 0.5);
$--card-border-radius: undefined;
/// padding||Spacing|3
$--card-padding: 20px;

/* Slider
-------------------------- */
/// color||Color|0
$--slider-main-background-color: var(--blue-6);
/// color||Color|0
$--slider-runway-background-color: rgba(75, 102, 133, 0.5);
$--slider-button-hover-color: mix(var(--blue-6), black, 97%);
$--slider-stop-background-color: var(--grey-13);
$--slider-disable-color: var(--grey-10);
$--slider-margin: 16px 0;
$--slider-border-radius: undefined;
/// height|1|Other|4
$--slider-height: 6px;
/// height||Other|4
$--slider-button-size: 16px;
$--slider-button-wrapper-size: 36px;
$--slider-button-wrapper-offset: -15px;

/* Steps
-------------------------- */
$--steps-border-color: var(--grey-5);
$--steps-border-radius: undefined;
$--steps-padding: 20px;

/* Menu
-------------------------- */
/// fontSize||Font|1
$--menu-item-font-size: undefined;
/// color||Color|0
$--menu-item-font-color: var(--grey-12);
/// color||Color|0
$--menu-background-color: var(--grey-13);
$--menu-item-hover-fill: undefined;

/* Rate
-------------------------- */
$--rate-height: 20px;
/// fontSize||Font|1
$--rate-font-size: undefined;
/// height||Other|3
$--rate-icon-size: 18px;
/// margin||Spacing|2
$--rate-icon-margin: 6px;
$--rate-icon-color: var(--grey-10);

/* DatePicker
-------------------------- */
$--datepicker-font-color: var(--grey-13);
/// color|1|Color|0
$--datepicker-off-font-color: var(--grey-10);
/// color||Color|0
$--datepicker-header-font-color: var(--grey-13);
$--datepicker-icon-color: var(--grey-12);
$--datepicker-border-color: var(--grey-5);
$--datepicker-inner-border-color: #e4e4e4;
/// color||Color|0
$--datepicker-inrange-background-color: rgba(75, 102, 133, 0.4);
/// color||Color|0
$--datepicker-inrange-hover-background-color: rgba(75, 102, 133, 0.4);
/// color||Color|0
$--datepicker-active-color: var(--blue-6);
/// color||Color|0
$--datepicker-hover-font-color: var(--blue-6);
$--datepicker-cell-hover-color: var(--grey-13);

/* Loading
-------------------------- */
/// height||Other|4
$--loading-spinner-size: 42px;
/// height||Other|4
$--loading-fullscreen-spinner-size: 50px;

/* Scrollbar
-------------------------- */
$--scrollbar-background-color: rgba(var(--grey-11), 0.3);
$--scrollbar-hover-background-color: rgba(var(--grey-11), 0.5);

/* Carousel
-------------------------- */
/// fontSize||Font|1
$--carousel-arrow-font-size: 12px;
$--carousel-arrow-size: 36px;
$--carousel-arrow-background: rgba(31, 45, 61, 0.11);
$--carousel-arrow-hover-background: rgba(31, 45, 61, 0.23);
/// width||Other|4
$--carousel-indicator-width: 30px;
/// height||Other|4
$--carousel-indicator-height: 2px;
$--carousel-indicator-padding-horizontal: 4px;
$--carousel-indicator-padding-vertical: 12px;
$--carousel-indicator-out-color: var(--blue-6);

/* Collapse
-------------------------- */
/// color||Color|0
$--collapse-border-color: rgba(75, 102, 133, 0.5);
/// height||Other|4
$--collapse-header-height: 48px;
/// color||Color|0
$--collapse-header-background-color: var(--grey-13);
/// color||Color|0
$--collapse-header-font-color: var(--grey-12);
/// fontSize||Font|1
$--collapse-header-font-size: 13px;
/// color||Color|0
$--collapse-content-background-color: var(--grey-13);
/// fontSize||Font|1
$--collapse-content-font-size: 13px;
/// color||Color|0
$--collapse-content-font-color: var(--grey-12);

/* Transfer
-------------------------- */
$--transfer-border-color: rgba(75, 102, 133, 0.5);
$--transfer-border-radius: undefined;
/// height||Other|4
$--transfer-panel-width: 200px;
/// height||Other|4
$--transfer-panel-header-height: 40px;
/// color||Color|0
$--transfer-panel-header-background-color: var(--grey-5);
/// height||Other|4
$--transfer-panel-footer-height: 40px;
/// height||Other|4
$--transfer-panel-body-height: 246px;
/// height||Other|4
$--transfer-item-height: 30px;
/// height||Other|4
$--transfer-filter-height: 32px;

/* Header
  -------------------------- */
$--header-padding: 0 20px;

/* Footer
-------------------------- */
$--footer-padding: 0 20px;

/* Main
-------------------------- */
$--main-padding: 20px;

/* Timeline
-------------------------- */
$--timeline-node-size-normal: 12px;
$--timeline-node-size-large: 14px;
$--timeline-node-color: rgba(75, 102, 133, 0.5);

/* Backtop
-------------------------- */
/// color||Color|0
$--backtop-background-color: var(--grey-13);
/// color||Color|0
$--backtop-font-color: var(--blue-6);
/// color||Color|0
$--backtop-hover-background-color: rgba(75, 102, 133, 0.4);

/* Link
-------------------------- */
/// fontSize||Font|1
$--link-font-size: undefined;
/// fontWeight||Font|1
$--link-font-weight: undefined;
/// color||Color|0
$--link-default-font-color: var(--grey-13);
/// color||Color|0
$--link-default-active-color: var(--blue-6);
/// color||Color|0
$--link-disabled-font-color: var(--grey-10);
/// color||Color|0
$--link-primary-font-color: var(--blue-6);
/// color||Color|0
$--link-success-font-color: var(--green-6);
/// color||Color|0
$--link-warning-font-color: var(--orange-6);
/// color||Color|0
$--link-danger-font-color: var(--red-6);
/// color||Color|0
$--link-info-font-color: var(--grey-13);

/* Calendar
-------------------------- */
/// border||Other|4
$--calendar-border: undefined;
/// color||Other|4
$--calendar-selected-background-color: #f2f8fe;
$--calendar-cell-width: 85px;

/* Form
-------------------------- */
/// fontSize||Font|1
$--form-label-font-size: undefined;

/* Avatar
-------------------------- */
/// color||Color|0
$--avatar-font-color: var(--grey-13);
/// color||Color|0
$--avatar-background-color: var(--grey-7);
/// fontSize||Font Size|1
$--avatar-text-font-size: 14px;
/// fontSize||Font Size|1
$--avatar-icon-font-size: 18px;
/// borderRadius||Border|2
$--avatar-border-radius: undefined;
/// size|1|Avatar Size|3
$--avatar-large-size: 40px;
/// size|1|Avatar Size|3
$--avatar-medium-size: 36px;
/// size|1|Avatar Size|3
$--avatar-small-size: 28px;

/* Break-point
-------------------------- */
$--sm: 768px;
$--md: 992px;
$--lg: 1200px;
$--xl: 1920px;

$--breakpoints: (
  "xs": (
    max-width: undefined - 1,
  ),
  "sm": (
    min-width: undefined,
  ),
  "md": (
    min-width: undefined,
  ),
  "lg": (
    min-width: undefined,
  ),
  "xl": (
    min-width: undefined,
  ),
);

$--breakpoints-spec: (
  "xs-only": (
    max-width: undefined - 1,
  ),
  "sm-and-up": (
    min-width: undefined,
  ),
  "sm-only": "(min-width: #{undefined}) and (max-width: #{undefined - 1})",
  "sm-and-down": (
    max-width: undefined - 1,
  ),
  "md-and-up": (
    min-width: undefined,
  ),
  "md-only": "(min-width: #{undefined}) and (max-width: #{undefined - 1})",
  "md-and-down": (
    max-width: undefined - 1,
  ),
  "lg-and-up": (
    min-width: undefined,
  ),
  "lg-only": "(min-width: #{undefined}) and (max-width: #{undefined - 1})",
  "lg-and-down": (
    max-width: undefined - 1,
  ),
  "xl-only": (
    min-width: undefined,
  ),
);

@import "~element-ui/packages/theme-chalk/src/index";
